<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirection</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="container">
      <h1>Links</h1>
      <a href="/add">Add Link</a>

      <% for(let i = 0; i < links.length; i++){ %>
      <div class="card p-3 mb-3" id="<%=links[i]._id%>">
        <form class="d-flex align-items-center justify-content-between" method="POST" action="/?_method=DELETE">
          <div class="d-flex flex-column">
            <h2><%=links[i].title%></h2>
            <div><%=links[i].description%></div>
            <div class="text-muted"><%=links[i].url%></div>
            <div class="text-info"><i class="material-icons">bar_chart</i>Clicks: <%=links[i].clicks%></div>
          </div>
          <div class="d-flex flex-column">
            <input name="id" value="<%=links[i]._id%>" hidden />
            <a class="btn btn-info mb-1" href="/edit/<%=links[i]._id%>">Edit</a>
            <button class="btn btn-danger" type="submit">Delete link</button>
          </div>
        </form>
      </div>
      <%}%>
    </div>

    <script>
        function deleteLink(id) {
            fetch("/" + id, {method: "DELETE"}).then(res => {
                if(res.status === 200) {
                    res.text().then(linkId => {
                    document.getElementById(linkId).remove()
                })
                } else {
                    res.json().then(error => {
                        console.log(error.message)
                        alert(error.message)
                    })
                }
            })
        }
    </script>
  </body>
</html>
